<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title}">Default title</h1>

<nav th:replace="fragments :: nav"></nav>

<form method="post" style="...">
    <div class="form-group">
        <label for="name-field">Name</label>
        <input class="form-control" id="name-field" type="text" name="name" />
    </div>

    <div class="form-group">
        <label for="desc-field">Description</label>
        <input class="form-control" id="desc-field" type="text" name="description" />
    </div>

    <input type="submit" value="Add Cheese" />
</form>

</body>
</html>