<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: nav"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">No cheese</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>

    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.name}"></td>
        <td th:text="${cheese.description}"></td>
    </tr>
</table>

<ul>
    <li th:each="cheese : ${cheeses}" th:text="${cheese}"></li>
</ul>
</body>
</html>