<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: nav"></nav>

</body>
</html>